<style>
	
		@font-face {
				font-family: "Circular Std Bold";
				src: url(../fonts/CircularStd-Bold.otf);
					}
		/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 70px 10px 6px 0px;
	text-align:center;
    text-decoration: none;
    font-size: 35px;
    color: #23a9e1;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
		
		#chat{
			float: right;
			margin-top: -510px;
		}
		
		#twitch-embed{
			margin-top:50px;
			margin-left:332px;
		}
		
		#header{
			padding:0px;
			margin:0px;
			
		}
		
		body{
			margin:0px;
		}
		
		img{
			display:block;
			float: left;
			width:250px;
			height:250px;
		}
		
		marquee{
			background: linear-gradient(#23a9e1, #1f4ab5);
			height:100px;
			width:1325px;
			font-size:75px;
			margin-left:274px;
			font-family:Impact;
			
		}
</style>